* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spotify Mix", sans-serif;
}

.left {
  width: 30vw;
  padding: 10px;
}

.right {
  width: 70vw;
}

.home ul li {
  list-style: none;
  width: 14px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  gap: 15px;
  padding-top: 14px;
}

.heading {
  width: 100%;
  font-weight: bold;
  display: flex;
  gap: 15px;
  padding: 23px 14px;
  font-size: 14px;
  letter-spacing: 0.5px;
  align-items: center;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.right {
  margin: 16px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  margin: 30px 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  position: absolute;
  right: 20px;
  top: 140px;
  opacity: 0;
  transition: all 0.3s;
}

.card:hover .play {
  opacity: 1;
  top: 130px;
  cursor: pointer;
}

