.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}

.bg-gray {
  background-color: #121212;
}

.rounded {
  border-radius: 8px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}

circle:hover + polygon {
  fill: #ffffff;
}

polygon:hover {
  fill: #ffffff;
}

/* Scrollbar Styles */

.spotify-scroll {
  overflow-y: auto;
}

.spotify-scroll::-webkit-scrollbar {
  width: 8px;
}

.spotify-scroll::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 4px;
}

.spotify-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
.spotify-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(179, 179, 179, 0.35);
}

.spotify-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(179, 179, 179, 0.7);
}
